@media only screen and (max-width: 769px) {
    .container-2 .box{
        flex-direction: column;
    }
    .container-2 .box .column{
        width: 100%;
    }
    
}

/* BASE */


body{
    font-family: "Montserrat", sans-serif;
    color: #A22522;
    /* margin-top: 200px; */
    margin: 200px 0px 0px 0px;
    padding: 0px;
    /* margin-bottom: 200px; */
    /* margin-left: 60px;
    margin-right: 60px; */
}

.table_matieres{
    padding-top: 2px;

}

.flux{
    margin-right: 60px;
    margin-left: 60px;
}

html{
    scroll-behavior: smooth;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grid-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.grid-item2 {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.grid-item3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.grid-item-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.titleprincipal{
    padding-bottom: 50px;
}


/* .arrow{
    margin-bottom: 100px;
} */

.iframe {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}


a{
    text-decoration: none;
    color: #A22522;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    }

li a {
    color: #FBFBF2;
}

li a:visited{
    color: #FBFBF2;
}


nav{
    display: flex;
    align-items: center;
    }

h1{
    font-size: 55px;
    font-weight: lighter;
}

h2{
    font-size: 28px;
    font-weight: normal;
}

h3{
    font-size: 18px;
    font-weight: normal;
}

p{
    font-size: 20px;
    font-weight: lighter;
}



/* PAGE ACCUEIL */
.title{
    text-align: center;
}

.section_align_center{
    text-align: center;
}

.accueil_MMI{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    width: 25%;
    margin: 0 auto 50px auto;
    
}

.accueil_frame{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    height: 200px;
    width: 400px;
    margin: 20px;
}

.accueil_display{
    display: flex;
    justify-content: center;
} 

.accueil_display a:visited{
    color: #A22522;
}
    
.top_accueil{
    margin-top: 175px;
}


/* frame{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    height: 200px;
    width: 400px;
    margin: 20px;
} */

.redim {
    /* overflow: hidden; */
    /* margin-top: -10px; */
    border: 1mm solid #C08552;
    width : 600px; height : 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

.nonebdr{
    border: 1mm solid #C08552;
    width : 600px; height : 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

.redim:hover {
    border: 1mm solid #A22522;
}





.display_frame{
    display: flex;
    justify-content: space-evenly;
}


.image-ronde{
    width : 400px; height : 400px;
    border: 1mm solid #C08552;
    border-radius : 50%;
  }


.apropos_certif{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    width: 50%;
    padding: 20px;
    margin: 10px;
}

.apropos_certif:hover{
    background-color: #A22522;
    border: 0.5mm solid #C08552;
    color: #FBFBF2;
    width: 50%;
    padding: 20px;
    margin: 10px;
}

.contacts_frame{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    /* height: 1fr; */
    width: 250px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.contacts_frame_mail{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    /* height: 1fr; */
    width: 400px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}



button{
    background-color: #FBFBF2;
    border: 0.5mm solid #C08552;
    width: 200px;
    padding: 10px;
    margin: 20px;
    text-align: center; 
}

button:hover{
    background-color: #A22522;
    border: 0.5mm solid #C08552;
}

button a:hover{
    color: #FBFBF2;

}






/* HEADER */
.header-all{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C08552;
    transition: background-color .5s ease;
}

    *::before,
    *::after{
        margin: 0;
        padding: 0;
        box-sizing: border-box;  
        margin: 0 60px;
        
    }

    header{
        width: 100%;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .container{
        width: 100%;
        height: 120px;
        max-width:120rem;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .nav{
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: height .5s ease;
    }

    .nav a{
        transition: 0.5s;
        font-family:'Monserrat', sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        /* border: 1px solid;
        border-left-style : none;
        border-right-style:none; */
        margin: 0 12px;
        padding: 15px 15px;
    }

    .nav .logo{
        /* opacity: 0; */
        width: 100px;
        margin-right: 60px;
        z-index: 6;
    }

    .nav-list{
        display: flex;
        list-style: none;
        text-decoration: none;
    }

    .nav-link{
        margin: 0 2rem;
        position: relative;
        transition: 0.7s;
       
    }

    .nav-link:hover{
        background-color: #A22522;
        transition: 0.5s;
    }


    /* .scrolling-active {
        background-color: #fff;
        border-bottom: 2px solid rgba(255,255,255,.05);
        box-shadow: 0 3px 1rem rgba(0,0,0,.1);
    } */
        
        .nav a{
            color: black;
        }

        .nav img{
            opacity: 1;
        }

        .nav a:hover{
            color: #A22522;
            background-color: rgba(0, 0, 0, 0);
        }

    
    /*Apply styles after scroll*/



    /*Apply styles after scroll end */




    footer{
        background-color: #C08552;
        top: 0;
        left: 0;
        margin: 100px 0px 0px 0px;
        padding: 0px;
        width: 100%;
        max-width: 120rem;;
        text-align: center;
    }

    .footer_liens{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    footer div a {
        padding: 20px 20px 0 20px;
    }

    footer p {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        font-size: small;
    }

    footer div a img {
        width: 35px;
    }





.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container-2 .heading{
    width: 50%;
    padding-bottom: 50px;
}

.container-2 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-2 .box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container-2 .box .column img{
    width: 100%;
    padding-bottom: 15px ;
}


.container-2 .box .column2{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.container-2 .box .column2 img{
    width: 100%;
    padding-bottom: 15px ;
}














/* IMAGES */

/* WEB ET GRAPHISME*/
.portfolioimage{
    background-image: url("/assets/images/rubriques/mockupportfolio.png"); 
}

.LPPimage{
    background-image: url("/assets/images/rubriques/mockuplepetitplateau.png"); 
}
.ASimage{
    background-image: url("/assets/images/rubriques/miniature\ agendasett.png");
}

/* JEUX VIDEO ET PHOTO ET 3D*/
.IMimage{
    background-image: url("/assets/images/rubriques/ivysmemorycover.jpg");
}

.Iimage{
    background-image: url("/assets/images/rubriques/insomniascratch.png");
}
.Iimage2{
    background-image: url("/assets/images/JEUX/1_insomnia/1_insomnia.png");
}

.mmibdximage{
    background-image: url("/assets/images/rubriques/photochloe.jpg");
}

.photoinstaimage{
    background-image: url("/assets/images/rubriques/photosinsta.png");
}

.BGPimage{
    background-image: url("/assets/images/rubriques/blenderminiature.png");
}

/* AUDIOVISUEL ET MUSIQUE */
    
.JTTOUimage{
    background-image: url("/assets/images/rubriques/JTTOUminiature.jpg"); 
}

.IJDTMimage{
    background-image: url("/assets/images/rubriques/IJDTMjflmqmp.jpg");
}

.JRMEimage{
    background-image: url("/assets/images/rubriques/JRMExminiature.jpg");
}

.INimage{
    background-image: url("/assets/images/rubriques/INminiature.jpg");
}

.IBTFYimage{
    background-image: url("/assets/images/rubriques/IBTFyouminiature.jpg");
}

.coverInstaimage{
    background-image: url("/assets/images/rubriques/coversinsta.png");
}

















