/* BASE */

html{
    scroll-behavior: smooth;
}


body{
    font-family: "Montserrat", sans-serif;
    color: var(--action-color);
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
}

body {
    --action-color: #000000;
    --or-color: #FFC233;
    --light-color: #FBFBF2;
    --dark-color: #323739;
    --grey-color: #707070;
}

.flux{
    margin-right: 60px;
    margin-left: 60px;
}

h1{
    font-size: 55px;
    font-weight: lighter;
}

h2{
    font-size: 28px;
    font-weight: normal;
}

h3{
    font-size: 18px;
    font-weight: normal;
}

p{
    font-size: 20px;
    font-weight: lighter;
}




.iframe {
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
}


a{
    text-decoration: none;
    color: var(--action-color);
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    }

li a {
    color: var(--light-color);
}

li a:visited{
    color: var(--light-color);
}

.indexflex{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/* FIN BASE */




/*IFRAME INSERT*/
.iframe-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.iframe-footer {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

/*FIN IFRAME INSERT*/



/* GRID CONTAINER AND ITEM */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.grid-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.grid-item2 {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.grid-item3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.grid-item-button {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
/* FIN GRID CONTAINER AND ITEM */



/* CONTAINER */


.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 20px 0 20px;
}

.container-2 .heading{
    width: 50%;
    padding-bottom: 50px;
    text-align: center;
}

.container-2 .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-2 .box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container-2 .box .column img{
    width: 100%;
    padding-bottom: 15px ;
}


.container-2 .box .column2{
    display: flex;
    flex-direction: column;
    width: 47%;
}

.container-2 .box .column2 img{
    width: 100%;
    padding-bottom: 15px ;
}



/* FIN CONTAINER */


/* INDEX */
.table_matieres{
    padding-top: 2px;

}
.titleprincipal{
    padding-bottom: 50px;
}



#top {
    margin-top: 200px;
}

#matieres {
    padding-top: 25px;
}
.title{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 20px;
}

.section_align_center{
    text-align: center;
}

.accueil_MMI{
    background-color: var(--light-color);
    border: 0.5mm solid var(--or-color);
    width: 25%;
    margin: 0 auto 50px auto;
    
}

.accueil_frame{
    background-color: var(--light-color);
    border: 0.5mm solid var(--or-color);
    height: 30vh;
    width: 25vw;
    margin: 20px;

}

.accueil_frame h3{
        display: flex;
        justify-content: center;
        margin-top: 20px;
}

.grid-item h2 {
    margin: 20px 0px;
}

/* .accueil_frame h3 img{
    display: flex;
    align-items: center;
} */

.accueil_display{
    display: flex;
    justify-content: center;
    width: 100%;
} 
/* FIN INDEX */







/*HEADER*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 100vw;
    background-color: var(--or-color);
}

#menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--action-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.header-burger {
    display: none;
    background-color: var(--or-color);
}

.header-burger img {
    width: 40%;
}

.burger-button {
    background-color: rgba(255, 255, 255, 0.548);
    position: fixed;
    border-radius: 50px;
    border: none;
    padding: 11px 7px;
    right: -10px;
    top: -10px;
    display: flex;
    display: none;
    flex-direction: column;
    cursor: pointer;
    width: fit-content;
  }
  
  .burger-button-line {
    width: 30px;
    height: 4px;
    background-color: var(--dark-color);
    margin: 2.5px;
    border-radius: 10px;
  }
  
  .close-button {
    background-color: rgba(255, 255, 255, 0.548);
    position: fixed;
    border-radius: 50px;
    border: none;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    display: none;
    width: 49px;
    height: 49px;
    padding: 0;
    align-items: center;
    justify-content: center;
    z-index: 6;
  }
  
  .close-button-line1 {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--light-color);
    border-radius: 10px;
    transform: rotate(45deg);
  }
  
  .close-button-line2 {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: var(--light-color);
    border-radius: 10px;
    transform: rotate(-45deg);
  }

/*FIN HEADER*/



.accueil_display a:visited{
    color: var(--action-color);
}
    
.top_accueil{
    margin-top: 175px;
}



.redim {
    border: 1mm solid var(--or-color);
    width : 40rem; height : 23rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

.nonebdr{
    border: 1mm solid var(--or-color);
    width : 600px; height : 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

.nonebdr2{
    border: 1mm solid var(--or-color);
    width : 1020px; height : 900px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    background-position: center;
}

.redim:hover {
    border: 1mm solid var(--action-color);
}





.display_frame{
    display: flex;
    justify-content: space-evenly;
}







button{
    background-color: var(--light-color);
    border: 0.5mm solid var(--or-color);
    width: 200px;
    padding: 10px;
    margin: 20px;
    text-align: center; 
}

button:hover{
    background-color: var(--action-color);
    border: 0.5mm solid var(--or-color);
}

button a:hover{
    color: var(--light-color);

}





nav a{
    transition: 0.5s;
    font-family:'Monserrat', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    /* border: 1px solid;
    border-left-style : none;
    border-right-style:none; */
    margin: 0 12px;
    padding: 15px 15px;
}

nav .logo{
    /* opacity: 0; */
    width: 100px;
    margin-right: 60px;
    z-index: 6;
}

.nav-list{
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nav-link{
    margin: 0 2rem;
    position: relative;
    transition: 0.7s;
    
}

.nav-link:hover{
    color: var(--action-color);
    transition: 0.5s;
}


    
    .nav a{
        color: black;
    }

    .nav img{
        opacity: 1;
    }

    .nav a:hover{
        color: var(--action-color);
        background-color: rgba(0, 0, 0, 0);
    }

















/* IMAGES */

/* COMMUNICATION */
.workshopimage{
    background-image: url("/assets/images/rubriques/24h.png"); 
}

.twiningsimage{
    background-image: url("/assets/images/rubriques/twinings.png"); 
}

.CROWDimage{
    background-image: url("/assets/images/rubriques/minuitsurterre.png"); 
}

/* WEB ET GRAPHISME*/
.portfolioimage{
    background-image: url("/assets/images/rubriques/mockupportfolio.png"); 
}

.LPPimage{
    background-image: url("/assets/images/rubriques/mockuplepetitplateau.png"); 
}
.ASimage{
    background-image: url("/assets/images/rubriques/miniature\ agendasett.png");
}

.BUDimage{
    background-image: url("/assets/images/rubriques/BUDappminiature.jpg");
}

.HUDDLEimage{
    background-image: url("/assets/images/rubriques/huddle-illustration-mockup.jpg");
}
/* JEUX VIDEO ET PHOTO ET 3D*/
.IMimage{
    background-image: url("/assets/images/rubriques/ivysmemorycover.jpg");
}

.Iimage{
    background-image: url("/assets/images/rubriques/insomniascratch.png");
}
.Iimage2{
    background-image: url("/assets/images/JEUX/1_insomnia/1_insomnia.png");
}

.mmibdximage{
    background-image: url("/assets/images/rubriques/photochloe.jpg");
}

.photoinstaimage{
    background-image: url("/assets/images/rubriques/photosinsta.png");
}

.BGPimage{
    background-image: url("/assets/images/rubriques/blenderminiature.png");
}

/* AUDIOVISUEL ET MUSIQUE */
    
.JTTOUimage{
    background-image: url("/assets/images/rubriques/JTTOUminiature.jpg"); 
}

.IJDTMimage{
    background-image: url("/assets/images/rubriques/IJDTMjflmqmp.jpg");
}

.JRMEimage{
    background-image: url("/assets/images/rubriques/JRMExminiature.jpg");
}

.INimage{
    background-image: url("/assets/images/rubriques/INminiature.jpg");
}

.IBTFYimage{
    background-image: url("/assets/images/rubriques/IBTFyouminiature.jpg");
}

.coverInstaimage{
    background-image: url("/assets/images/rubriques/coversinsta.png");
}
.startupolyimage{
    background-image: url("/assets/images/rubriques/startupoly.png");
}

.MMIDECOUimage{
    background-image: url("/assets/images/rubriques/MMI_dMiniature.jpg");
}

.SCULPBACKimage{
    background-image: url("/assets/images/rubriques/mockupSculpeauxMiniature.jpg");
}

.NK7image{
    background-image: url("/assets/images/rubriques/navettek7miniature.jpg");
}

.ytbchaineImage{
    background-image: url("/assets/images/rubriques/lilouMECAyoutubeemma.jpg");
}





/* MEDIA SCREEN MENU BURGER */
@media screen and (max-device-width: 810px) { 
    /* ORDINATEUR */
    .iframe-header {
        display: none;
    }
    .burger-button {
        display: flex;
    }
    .header-burger {
        display: flex;
        height: 70px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}
/* FIN MEDIA SCREEN MENU BURGER */

/* MEDIA SCREEN */


@media screen and (max-device-width: 615px) {
    /* TABLETTE */
    .accueil_frame{
        height: 20vh;
        width: 70vw;
    }
    .accueil_display {
        flex-direction: column;
    }
    .accueil_display a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .accueil_display a div img {
        height: 50%;
    }
}


@media screen and (max-device-width: 415px) {
    /* TELEPHONE */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        
    }

    .accueil_MMI{
        width: 75%;
        background-color: var(--action-color);
    
    }
    

    .redim {
        width : 20rem; height : 12rem;
    }

    .title{
        margin-top: 50px;
        font-size: 40px;
    }

    .grid-item h2{
        font-size: 20px;
    }

    .title-rubrique{
        font-size: 30px;
        text-align: center;
    }

/* POUR LES IMAGES */
    .nonebdr{
        width : 20rem; height : 12rem;
    }

    .nonebdr2{
        width : 20rem; height : 12rem;
    }

    /* POUR LES VIDEOS RAJOUTER CETTE CLASS */
    .iframe-video{
        width : 20rem; height : 12rem;
    }

}
/* FIN MEDIA SCREEN */

*, *:before, *:after {
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
    margin: 0;
    padding: 0;
}











